<div class="extractFromIPFSForm">
    {{{ ExtractFromIPFSForm }}}
</div>
<div class="result-block {{#unless visibility }}result-block-display-none{{/unless}}">
    <img id="credentials" src="{{ pathToAvatar }}" alt="">
</div>