.text-input {
  height: 1.5em;
  background: $main__background_color;
  border: 2px $main__text_help-color solid;
  font-weight: inherit;
  border-radius: .4em;
  margin-bottom: 15px;
  padding: 5px;
}

.text-input__text {
  color: $main__font_color;
  font-family: inherit;
  font-size: 1em;
}

.text-input:focus {
  outline: none;
}

.text-input__label {
  display: inline-block;
  margin-bottom: .5em;
  margin-left: .2em;
  font-size: 1em;
  font-weight: bold;
}