<div class="map-usage__form-block">
    <form class="gps-coords-for-root__input">
        {{#each input }}
            {{{ this }}}
        {{/each}}
    </form>
    <div class="gps-coords-for-root-form__admission">
        {{{ StandardButton }}}
    </div>
</div>