$main__brand_color: #540cd9;
$main__brand_color-hover: #390993;

$main__background_color: #353535;

$main__page_width: 15vw;

$main__border_radius: 20px;
$main__border_thickness: 1px;
$main__border_padding: 20px;
$main__border_margin: 20px;

$main__font: sans-serif;
$main__font_color: #FFFFFF;
$main__font_size: 15px;

$main__text_help-color: rgb(118, 118, 118);
$main__text_shadow-color: rgba(0, 0, 0, 0.25);

$button__font_color: #FFFFFF;
$button__border_radius: 0.4em;
$button__padding_x: 2em;
$button__padding_y: 0.5em;
