<form class="accountAddForm__input">
    {{#each input }}
        {{{ this }}}
    {{/each}}
</form>
<div class="accountAddForm__admission">
    <div class="accountAddForm__header-enter">
        {{{ StandardButton }}}
    </div>
</div>