.extract-from-storage__form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.extract-from-storage-form__input {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 30em;
}

.extract-from-storage-form__admission {
  display: flex;
  flex-direction: row;
  align-items: center;
}
