<div class="extract-from-storage__form-block">
    <form class="extractFromStorageForm__input">
        {{#each input }}
            {{{ this }}}
        {{/each}}
</form>
    <div class="extractFromStorageForm__admission">
        <div class="extractFromStorageForm__header-enter">
            {{{ StandardButton }}}
        </div>
    </div>
</div>