<div class="extract-from-storage__form-block">
    <form class="extract-from-storage-form__input">
        {{#each input }}
            {{{ this }}}
        {{/each}}
</form>
    <div class="extract-from-storage-form__admission">
        <div class="extract-from-storage-form__header-enter">
            {{{ StandardButton }}}
        </div>
    </div>
</div>