<form class="extractFromIPFSForm__input">
    {{#each input }}
        {{{ this }}}
    {{/each}}
</form>
<div class="extractFromIPFSForm__admission">
    <div class="extractFromIPFSForm__header-enter">
        {{{ StandardButton }}}
    </div>
</div>