.gps-coords-for-root__input {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 30em;
}

.gps-coords-for-root-form__admission {
  display: flex;
  flex-direction: row;
  align-items: center;
}