<div class="extractFromStorageForm">
    {{{ ExtractFromStorageForm }}}
</div>
<div class="result-block {{#unless visibility }}result-block-display-none{{/unless}}">
    <img id="credentials" class="imageForIPFS" src="{{ pathToAvatar }}" alt="">
</div>