<div class="extract-from-storage-form">
    {{{ ExtractFromStorageForm }}}
</div>
<div class="result-block {{#unless visibility }}result-block-display-none{{/unless}}">
    <div class="error">{{ error }}</div>
</div>
<div class="result-block-image {{#unless visibility }}result-block-image-display-none{{/unless}}">
    <img id="credentials" class="image-for-ipfs" src="{{ pathToAvatar }}" alt="">
</div>
