<div class="map-usage__form-block">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <div class="map-container" id="map" style="width: 700px; height: 500px;" tabindex="1">
    </div>
</div>
<div class="user-interaction">
    {{!-- <form class="map-delta__input">
        {{#each input }}
            {{{ this }}}
        {{/each}}
    </form> --}}
    <div class="map-button__admission">
        {{{ DropDownList }}}
    </div>
    <div class="map-button__admission">
        {{{ SubmitRootButton }}}
    </div>
</div>