<label class="image-input__label" for="{{ inputID }}">
    {{ inputName }}
</label>
<div class="image-input__wrapper">
    <input id="{{ inputID }}" class="default-input" data-event="uploadImage" type="file"/>
</div>