<div class="map-usage__form-block">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <div class="map-container" id="map" style="width: 1000px; height: 600px;" tabindex="1">
    </div>
</div>
<div class="buttons">
    <div class="map-button__admission">
        {{{ SubmitRootButton }}}
    </div>
</div>