<div class="map-usage__form-block">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="">
    <div class="map-container" id="mapid" style="width: 700px; height: 500px;" tabindex="1">
    </div>
</div>
<div class="buttons">
    <div class="map-button__admission">
        {{{ SubmitRootButton }}}
    </div>
    <div class="map-button__admission">
        {{{ ResetButton }}}
    </div>
</div>